<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/open.css">
        <link rel="stylesheet" href="/index.css">
        <script type="module" defer>
            import { parallaxBg } from "/modules/parallaxBg.js";
            parallaxBg();
        </script>
    </head>
    <body>
        <div id="parallax-bg"></div>
        <div class="open-title-card">
            <h1> <%= title %> </h1>
            <a href="/">←</a>
        </div>

        <div class="message-details-container">
            <a class="remove-message-button" href="/delete/<%= message.id %>">✖</a>
            <p><b>Text:</b> <%= message.text %></p>
            <p><b>User:</b> <%= message.username %></p>
            <p><b>Date added:</b> <%= message.added %></p>
        </div>
    </body>
</html>